.navbar-dark {
  --bs-navbar-color: #f8f9fa;
  --bs-navbar-hover-color: #ffc107;
  --bs-navbar-active-color: #ffc107;
  --bs-navbar-toggler-border-color: #ffc107;
}

.navbar-toggler {
  color: #ffc107;
}

.offcanvas {
  --bs-offcanvas-bg: #141619;
  --bs-offcanvas-border-color: #ffc107;
}

.offcanvas-title {
  color: white;
}

.btn-close {
  color: white;
} 

.dropdown-menu {
  --bs-dropdown-border-color: #ffc107;
  --bs-dropdown-divider-bg: #ffc107;
  --bs-dropdown-link-hover-color: #ffc107;
  --bs-dropdown-link-hover-bg: #f8f9fa;
  --bs-dropdown-link-active-color: #f8f9fa;
  --bs-dropdown-link-active-bg: #ffc107;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  padding-top: 15px;
  color: rgb(187, 187, 187);
}

@media (max-width: 576px){
  main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .display-card {
    position: fixed;
    top: 16vw;
    background-color: red;
    width: 210.5px;
    height: 307px;
  }

  .form-control {
    color: #ffc107;
    background-color: #141619;
    border: 1px solid #ffc107;
  }

  input::placeholder {
    color: #fff;
  }

  .search-card {
    position: fixed;
    top: 55%;
    height: 2vh;
    width: 80vw;
  }

  .btn-outline-secondary {
    --bs-btn-bg: #ffc107;
    --bs-btn-color: #141619;
    --bs-btn-border-color: #141619;
    --bs-btn-hover-color: #ffc107;
    --bs-btn-hover-bg: #141619;
    --bs-btn-hover-border-color: #ffc107;
    --bs-btn-focus-shadow-rgb: 108,117,125;
    --bs-btn-active-color: #f8f9fa;
    --bs-btn-active-bg: #ffc107;
    --bs-btn-active-border-color: #ffc107;
    --bs-btn-active-shadow: inset 0 3px 5px#ffc107;
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: #ffc107;
    --bs-gradient: none;
  }
  
  .btn-primary {
    position: fixed;
    Top: 62%;
    --bs-btn-color: #141619;
    --bs-btn-bg: #ffc107;
    --bs-btn-border-color: #141619;
    --bs-btn-hover-color: #ffc107;
    --bs-btn-hover-bg: #141619;
    --bs-btn-hover-border-color: #ffc107;
    --bs-btn-focus-shadow-rgb: #ffc107;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #fff;
    --bs-btn-active-border-color: #ffc107;
    --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #ffc107;
    --bs-btn-disabled-bg: #ffc107;
    --bs-btn-disabled-border-color: #ffc107;
  }

  .close-deck {
    background-color: white;
  } 

  .offcanvas {
    --bs-offcanvas-height: 50vh;
  }

  .offcanvas-body img {
    width: 17.6vw;
    height: 17.6vh;
    margin-top: 1vh;
  }

  footer p {
    text-align: center;
    font-size: 12px;
  }
}

